

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
	.greybg{
		background: yellow;
	}
	</style>
</head>
<body>



<h1>Color Selections</h1>

	<% if @colors %>

	<% @colors.each do |color| %>

	<h1><%= color.communityurl %></h1>
	<ul>
	  <li>Highlight Color: <%= color.colorhighlight %></li>
	  <li>Accent1: <%= color.coloraccent1 %></li>
	  <li>Accent2: <%= color.coloraccent2 %></li>
	</ul>

	==================

	<% end %>
<%end %>

</body>

</html>