
%h1 Community Color Selection


%form{ :action => "/submitcolor", :method => "post"}

	.form-group
		%label Community Url
		%input.form-control{:type => "text", :name => "community-url"}
			%small.form-text.text-muted Eg: something.ideascale.com

	%h3 Colors
	%p.alert.alert-success <strong>Note: You'll be able to change these colors from your community's admin panel after this initial selection.</strong>

	.container
		.col-md-3
			.form-group
				%label Accent Color 1
				%input.form-control{:type => "text", :name => "color-accent1"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Should contrast well with white.

			.form-group
				%label Accent Color 2
				%input.form-control{:type => "text", :name => "color-accent2"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. We recommend a slightly lighter version of accent color 1, above. Should contrast well with white.

			.form-group
				%label Highlight Color
				%input.form-control{:type => "text", :name => "color-highlight"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Used to call attention to action items in the community. Should contrast well with white.

		.col-md-6

			<a href="https://ideascale.com/branding-guidelines#guide-colors" target="_blank"><img class="img-responsive" src="images/color-choice.png" alt="color-choice" /></a>

	.form-group
		%input{:type => "submit", :value => "Submit Form", :class => "button btn"}
			