
%h1 Community Branding Selections

%h4.alert.danger The catalogue of selections is available <a href="https://ideascale.com/branding-guidelines" target="_blank">here</a>. 

%form{ :action => "/submit", :method => "post"}


	.form-group
		%label Community Url
		%input.form-control{:type => "text", :name => "community-url"}
			%small.form-text.text-muted Eg: something.ideascale.com
	
	%h3 Colors

	.container
		.col-md-3
			.form-group
				%label Accent Color 1
				%input.form-control{:type => "text", :name => "color-accent1"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Should contrast well with white.

			.form-group
				%label Accent Color 2
				%input.form-control{:type => "text", :name => "color-accent2"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. We recommend a slightly lighter version of accent color 1, above. Should contrast well with white.

			.form-group
				%label Highlight Color
				%input.form-control{:type => "text", :name => "color-highlight"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Used to call attention to action items in the community. Should contrast well with white.

		.col-md-6

			<a href="https://ideascale.com/branding-guidelines#guide-colors" target="_blank"><img class="img-responsive" src="images/color-choice.png" alt="color-choice" /></a>
				
			

	%h3 Which landing page widgets do you want?
	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "hero-carousel", :onclick => "toggleView('hero-slide1')"}
			%label.form-check-label Hero/Carousel
				
					

	.container
		.col-md-6#hero-slide1
			%h4 Carousel slide 1:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide1-header-line", :id => "heroslide1headerlineinput", :onkeyup => "showCharCount('heroslide1headerlineinput', 'heroslide1headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide1headerlineoutput
				%br
				%br


			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide1-text-paragraph", :id => "heroslide1textparagraphinput", :onkeyup => "showCharCount('heroslide1textparagraphinput', 'slide1textparagraphoutput', 250);"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#slide1textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide1-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide1-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide1-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide1-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide1-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr
			.form-group
				.form-check
				%input.form-check-input{:type => "checkbox",  :onclick => "toggleView('hero-slide2')"} 
				%label.form-check-label Add another slide	


	.container
		.col-md-6#hero-slide2
			%h4 Carousel slide 2:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide2-header-line", :id => "heroslide2headerlineinput", :onkeyup => "showCharCount('heroslide2headerlineinput', 'heroslide2headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide2headerlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide2-text-paragraph", :id => "heroslide2textparagraphinput", :onkeyup => "showCharCount('heroslide2textparagraphinput', 'heroslide2textparagraphoutput', 250);"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#heroslide2textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide2-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide2-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide2-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide2-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide2-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr
			.form-group
				.form-check
				%input.form-check-input{:type => "checkbox",  :onclick => "toggleView('hero-slide3')"} 
				%label.form-check-label Add another slide	


	.container
		.col-md-6#hero-slide3
			%h4 Carousel slide 3:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide3-header-line", :id => "heroslide3headerlineinput", :onkeyup => "showCharCount('heroslide3headerlineinput', 'heroslide3headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide3headerlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide3-text-paragraph", :id => "heroslide3textparagraphinput", :onkeyup => "showCharCount('heroslide3textparagraphinput', 'heroslide3textparagraphoutput', 250 );"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#heroslide3textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide3-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide3-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide3-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide3-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide3-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr








	.form-group
		.form-check
		
			%input.form-check-input{:type => "checkbox", :name => "welcome-area", :onclick => "toggleView('welcome-area')"} 
			%label.form-check-label Welcome Area	

	.container
		.col-md-6#welcome-area
			.form-group
				%label Line of text under username
				%input.form-control{:type => "text", :name => "welcome-area-text", :value => "", :id => "welcomeareatextinput", :onkeyup => "showCharCount('welcomeareatextinput', 'welcomeareatextoutput', 125);"}
				%small.form-text.text-muted One line of text: max 125 characters, including spaces.
				%br
				%br
				%alert#welcomeareatextoutput
				%br
				%br

	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "active-campaigns"}
			%label.form-check-label Active Campaigns

	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "general-text", :onclick => "toggleView('general-text')"}
			%label.form-check-label General Text Area


	.container
		.col-md-6#general-text
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "text-header-line", :id => "textheaderlineinput", :onkeyup => "showCharCount('textheaderlineinput', 'textheaderlineoutput', 125);"}
				%small.form-text.text-muted One line of text: max 125 characters, including spaces.
				%br
				%br
				%alert#textheaderlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text
				%textarea.form-control{:rows => "5", :name => "text-paragraph"}



	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "pinned-ideas"}
			%label.form-check-label Pinned Ideas

	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "callout-ideas"}
			%label.form-check-label Callout Ideas

	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "tags"}
			%label.form-check-label Tags

	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "video", :onclick => "toggleView('video')"}
			%label.form-check-label Video

	.container
		.col-md-6#video
			.form-group
				%label Video Url
				%input.form-control{:type => "text", :name => "video-url"}
				%small.form-text.text-muted Enter the video url; eg: https://youtu.be/NugRZGDbPFU


	.form-group
		.form-check
			%input.form-check-input{:type => "checkbox", :name => "footer", :onclick => "toggleView('footer')"}
			%label.form-check-label Footer




	.container#footer
		%h3 Footer items - leave any blank you don't want.  Ie, if you want two centered columns, fill out only columns 2 and 3, leaving 1 and 4 blank.  Up to five links per col.  Please specify the link destination (url) and the name.

		.col-md-2
			%h3 Col 1
			.form-group
			%label Header title - col 1
			%input.form-control{:type => "text", :name => "footer-col1-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col1-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col1-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col1-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col1-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col1-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col1-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col1-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col1-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col1-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col1-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br	

		.col-md-2
			%h3 Col 2
			.form-group
			%label Header title - col 2
			%input.form-control{:type => "text", :name => "footer-col2-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col2-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col2-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col2-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col2-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col2-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col2-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col2-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col2-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col2-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col2-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br	

		.col-md-2
			%h3 Col 3
			.form-group
			%label Header title - col 3
			%input.form-control{:type => "text", :name => "footer-col3-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col3-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col3-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col3-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col3-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col3-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col3-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col3-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col3-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col3-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col3-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		

		.col-md-2
			%h3 Col 4
			.form-group
			%label Header title - col 4
			%input.form-control{:type => "text", :name => "footer-col4-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col4-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col4-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col4-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col4-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col4-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col4-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col4-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col4-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col4-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col4-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br			

	.form-group
		%input{:type => "submit", :value => "Submit Form", :class => "button"}


	:javascript

		function showCharCount(input, output, limit){
			var input = document.getElementById(input).value;
			var output = document.getElementById(output);

			var charCount = 0;
			for(var i = 0; i < input.length; i++){
				charCount += 1;
			}

			output.innerHTML = charCount + " characters entered.";

			if(charCount <= limit){
				output.className = "";
				output.className += "small form-text alert alert-success";
			} else {
				output.className = "";
				output.className += "small form-text alert alert-danger";
				output.innerHTML += " Limit is " + limit + " characters!"
			}
		}