
%h1 Community Branding Selections


.well
	%p Here are the options for your new community’s custom landing page, and the inner community pages. You can quickly and beautifully represent your brand, while simultaneously ensuring code maintainability and mobile-responsiveness across diverse screen sizes.

	%p You can view some sample communities here to get an idea of the different layout possibilities:

	%img.img-responsive{:src => "images/examples.png", :style => "max-height: 150px;", :alt => "sample communities"}

	%br 

	%ul
		%li
			%a{:href => "http://cv2test.ideascale.com", :target => "_blank"}Phoney Phones Inc
		%li
			%a{:href => "http://innolab.ideascale.com", :target => "_blank"}InnoLab
		%li
			%a{:href => "http://capitalcity.ideascale.com", :target => "_blank"}Capital City


	%a{:href => "https://ideascale.com/community-custom-guidelines", :target => "_blank"}To read about general custom layout guidelines and tips, click here.

	%p Otherwise, let's get started with your selections!




%form{ :action => "/submit", :method => "post"}


	.form-group
		%label Community Url
		%input.form-control{:type => "text", :name => "community-url"}
			%small.form-text.text-muted Eg: something.ideascale.com
	
	%h3 Colors

	.container
		.col-md-3


			.form-group
				%label Highlight Color
				%input.form-control{:type => "color", :name => "color-highlight"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Used to call attention to action items in the community. Should contrast well with white.

			.form-group
				%label Accent Color 1
				%input.form-control{:type => "color", :name => "color-accent1"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. Should contrast well with white.

			.form-group
				%label Accent Color 2
				%input.form-control{:type => "color", :name => "color-accent2"}
					%small.form-text.text-muted Formatted like #d3d3d3 or #ffffff. We recommend a slightly lighter version of accent color 1, above. Should contrast well with white.


		.col-md-6

			<a href="https://ideascale.com/branding-guidelines#guide-colors" target="_blank"><img class="img-responsive" src="images/color-choice.png" alt="color-choice" /></a>


	%h3 Header Navigation Links

	.form-group
		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "footer", :onclick => "toggleView('header-links')"}
					%label.form-check-label (Optional) Customize Header Links
			.col-md-9
				%img.img-responsive{:src => "images/header-links.png", :style => "max-width: 350px;"}
				%p Customize the header links on the landing page and in the inner community
				%p If you leave this section blank, we will populate the header with the default links:  Welcome ("welcome" landing page), Home (main community page), Ideas (recently submitted ideas). 




	.container#header-links
		%h3 Create up to five links for the navigation header:

		.col-md-4


			.form-group
			%label Header link 1 text
			%input.form-control{:type => "text", :name => "headerlink1text"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Header link 1 url
			%input.form-control{:type => "text", :name => "headerlink1url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br



			.form-group
			%label Header link 2 text
			%input.form-control{:type => "text", :name => "headerlink2text"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Header link 2 url
			%input.form-control{:type => "text", :name => "headerlink2url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br
				

			.form-group
			%label Header link 3 text
			%input.form-control{:type => "text", :name => "headerlink3text"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Header link 3 url
			%input.form-control{:type => "text", :name => "headerlink3url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br			


			.form-group
			%label Header link 4 text
			%input.form-control{:type => "text", :name => "headerlink4text"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Header link 4 url
			%input.form-control{:type => "text", :name => "headerlink4url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br		



			.form-group
			%label Header link 5 text
			%input.form-control{:type => "text", :name => "headerlink5text"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Header link 5 url
			%input.form-control{:type => "text", :name => "headerlink5url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br		


	%h3 Which landing page widgets do you want?
	.form-group
		.form-check
			
			.row	
				.col-md-3
					%input.form-check-input{:type => "checkbox", :name => "hero-carousel", :onclick => "toggleView('hero-slide1')"}
					%label.form-check-label Hero/Carousel

				.col-md-9
					%img.img-responsive{:src => "images/small-hero.png", :style => "max-width: 350px;"}
                                        
					%p The hero or carousel is the first item on the custom landing page. You may choose up to three slide images and associated header, text and buttons for the hero.
					%p If you don’t want the carousel functionality, you may choose a single image and a frozen slide or simple “hero” image and associated title text and buttons.
					%p For each carousel slide, you may choose any combination of the following:
					%ul
						%li One title item, up to 25 characters (including spaces)
						%li One description paragraph, up to 250 characters 
						%li Up to two action buttons
					%p In addition to choosing a responsive image, consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.					
					
	.container
		.col-md-6#hero-slide1
			%h4 Carousel slide 1:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide1-header-line", :id => "heroslide1headerlineinput", :onkeyup => "showCharCount('heroslide1headerlineinput', 'heroslide1headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide1headerlineoutput
				%br
				%br


			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide1-text-paragraph", :id => "heroslide1textparagraphinput", :onkeyup => "showCharCount('heroslide1textparagraphinput', 'slide1textparagraphoutput', 250);"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#slide1textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide1-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide1-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide1-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide1-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide1-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr
			.form-group
				.form-check
				%input.form-check-input{:type => "checkbox",  :onclick => "toggleView('hero-slide2')"} 
				%label.form-check-label Add another slide	


	.container
		.col-md-6#hero-slide2
			%h4 Carousel slide 2:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide2-header-line", :id => "heroslide2headerlineinput", :onkeyup => "showCharCount('heroslide2headerlineinput', 'heroslide2headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide2headerlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide2-text-paragraph", :id => "heroslide2textparagraphinput", :onkeyup => "showCharCount('heroslide2textparagraphinput', 'heroslide2textparagraphoutput', 250);"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#heroslide2textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide2-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide2-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide2-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide2-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide2-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr
			.form-group
				.form-check
				%input.form-check-input{:type => "checkbox",  :onclick => "toggleView('hero-slide3')"} 
				%label.form-check-label Add another slide	


	.container
		.col-md-6#hero-slide3
			%h4 Carousel slide 3:
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "hero-slide3-header-line", :id => "heroslide3headerlineinput", :onkeyup => "showCharCount('heroslide3headerlineinput', 'heroslide3headerlineoutput', 25);"}
				%small.form-text.text-muted max 25 characters (including spaces)
				%br
				%br
				%alert#heroslide3headerlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text 
				%textarea.form-control{:rows => "5", :name => "hero-slide3-text-paragraph", :id => "heroslide3textparagraphinput", :onkeyup => "showCharCount('heroslide3textparagraphinput', 'heroslide3textparagraphoutput', 250 );"}
				%small.form-text.text-muted One description paragraph, up to 250 characters (including spaces)
				%br
				%br
				%alert#heroslide3textparagraphoutput
				%br
				%br


			.form-group
				%label Hero slide background - 1300 x 700px
				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "hero-slide3-bg-url"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will make any text you choose to place on your slide illegible.
				%img.img-responsive{:src => "images/upload-img-url.png"}		

			%h4 Complete for each of the two possible buttons you want.  If you want no buttons, leave both blank.  If you want one button, fill out the form for one of the buttons:

			.form-group
				%label Button one text
				%input.form-control{:type => "text", :name => "hero-slide3-button1-name"}
				%small.form-text.text-muted Text for slide button 1

			.form-group
				%label Button one link
				%input.form-control{:type => "text", :name => "hero-slide3-button1-url"}
				%small.form-text.text-muted Link (url) for slide button 1

			.form-group
				%label Button two text
				%input.form-control{:type => "text", :name => "hero-slide3-button2-name"}
				%small.form-text.text-muted Text for slide button 2

			.form-group
				%label Button two link
				%input.form-control{:type => "text", :name => "hero-slide3-button2-url"}
				%small.form-text.text-muted Link (url) for slide button 2

				%hr








	.form-group
		.form-check

			.row
				.col-md-3
					%input.form-check-input{:type => "checkbox", :name => "welcome-area", :onclick => "toggleView('welcome-area')"} 
					%label.form-check-label Welcome Area	

				.col-md-9
					%img.img-responsive{:src => "images/welcome-area.png", :style => "max-width: 350px;"}
					%p Greet your users with this widget which displays the logged in username.
					%p You can customize the line of text under the username.


	.container
		.col-md-6#welcome-area
			.form-group
				%label Line of text under username
				%input.form-control{:type => "text", :name => "welcome-area-text", :value => "", :id => "welcomeareatextinput", :onkeyup => "showCharCount('welcomeareatextinput', 'welcomeareatextoutput', 125);"}
				%small.form-text.text-muted One line of text: max 125 characters, including spaces.
				%br
				%br
				%alert#welcomeareatextoutput
				%br
				%br

	.form-group

		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "active-campaigns"}
					%label.form-check-label Active Campaigns
			.col-md-9
				%img.img-responsive{:src => "images/new_bg_active-campaigns.png", :style => "max-width: 350px;"}			
				%p Layout displays campaign title over the campaign logo. We recommend a darker, quiet campaign logo. Keep in mind that the image has to hold up against different responsive views. The campaign title is limited to 100 characters (including spaces), and the campaign description is limited to 360 characters of html-sanitized text, (including spaces).


	.form-group

		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "horiztonal-active-campaigns"}
					%label.form-check-label  Active Campaigns (Horizontal)
			.col-md-9
				%img.img-responsive{:src => "images/horz-camp.png", :style => "max-width: 350px;"}			
				%p Alternate take on the active campaign widget.  Campaigns appear in a row with campaign image to the left. 


	.form-group

		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "general-text", :onclick => "toggleView('general-text')"}
					%label.form-check-label General Text Area
			.col-md-9
				%img.img-responsive{:src => "images/general-text.png", :style => "max-width: 350px;"}
				%p You can select the text you’d like to appear here.


	.container
		.col-md-6#general-text
			.form-group
				%label Header line
				%input.form-control{:type => "text", :name => "text-header-line", :id => "textheaderlineinput", :onkeyup => "showCharCount('textheaderlineinput', 'textheaderlineoutput', 125);"}
				%small.form-text.text-muted One line of text: max 125 characters, including spaces.
				%br
				%br
				%alert#textheaderlineoutput
				%br
				%br

			.form-group
				%label Main paragraph of text
				%textarea.form-control{:rows => "5", :name => "text-paragraph"}



	.form-group
		.form-check
			.row
				.col-md-3
					%input.form-check-input{:type => "checkbox", :name => "pinned-ideas"}
					%label.form-check-label Pinned Ideas
				.col-md-9
					%img.img-responsive{:src => "images/new_bg_pinned-ideas.png", :style => "max-width: 350px;"}

	.form-group
		.row
			.col-md-3	
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "callout-ideas", :onclick => "toggleView('callout-ideas')"}
					%label.form-check-label Callout Ideas

			.col-md-9
				%img.img-responsive{:src => "images/new_bg_popular-ideas.png", :style => "max-width: 350px;"}
				%p Another fun way to display ideas and increase engagement and highlight active users. Title limited to 35 characters (including spaces), and description to 120 characters (including spaces).


	.container
		.col-md-6#callout-ideas
			.form-group

				%label (Optional) Watermark layer background - 1300 x 700px
				%p Add an optional background image that will be covered with 80% opacity layer consisting of your accent color choice.
				%p If you leave this area blank, your accent color choice will be used as a background color by default.

				%label Upload the image to your global file library, and copy the url here (see image below).			
				%input.form-control{:type => "text", :name => "div-bg-img"}
				%small.form-text.text-muted Consider a 1300 x 700 pixel image that is not so busy or bright that it will distract from the popular ideas in the foreground.
				%img.img-responsive{:src => "images/upload-img-url.png"}		



	.form-group
		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "tags"}
					%label.form-check-label Tags
			.col-md-9
				%img.img-responsive{:src => "images/new_bg_tags.png", :style => "max-width: 350px;"}
				%p The popular topics or tags widget uses a algorithm to create a word cloud of the most popular tags in your community. The boldest/largest/darkest words are the highest frequency tags, and the smallest/lightest words appear with least frequency. Clicking on a tag loads search results for for that tag on ideas in your community.


	.form-group
		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "video", :onclick => "toggleView('video')"}
					%label.form-check-label Video
			.col-md-9
				%img.img-responsive{:src => "images/video.png", :style => "max-width: 350px;"}
				%p A video on your first accent color
				%p Please upload your video to YouTube for easy embedding

	.container
		.col-md-6#video
			.form-group
				%label Video Url
				%input.form-control{:type => "text", :name => "video-url"}
				%small.form-text.text-muted Enter the video url; eg: https://youtu.be/NugRZGDbPFU


	.form-group
		.row
			.col-md-3
				.form-check
					%input.form-check-input{:type => "checkbox", :name => "footer", :onclick => "toggleView('footer')"}
					%label.form-check-label Footer
			.col-md-9
				%img.img-responsive{:src => "images/footer.png", :style => "max-width: 350px;"}
				%p The footer provides four columns for you to provide categorized links
				%p All of the links are customizable




	.container#footer
		%h3 Footer items - leave any blank you don't want.  Ie, if you want two centered columns, fill out only columns 2 and 3, leaving 1 and 4 blank.  Up to five links per col.  Please specify the link destination (url) and the name.

		.col-md-2
			%h3 Col 1
			.form-group
			%label Header title - col 1
			%input.form-control{:type => "text", :name => "footer-col1-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col1-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col1-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col1-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col1-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col1-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col1-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col1-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col1-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col1-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col1-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br	

		.col-md-2
			%h3 Col 2
			.form-group
			%label Header title - col 2
			%input.form-control{:type => "text", :name => "footer-col2-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col2-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col2-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col2-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col2-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col2-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col2-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col2-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col2-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col2-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col2-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br	

		.col-md-2
			%h3 Col 3
			.form-group
			%label Header title - col 3
			%input.form-control{:type => "text", :name => "footer-col3-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col3-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col3-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col3-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col3-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col3-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col3-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col3-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col3-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col3-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col3-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		

		.col-md-2
			%h3 Col 4
			.form-group
			%label Header title - col 4
			%input.form-control{:type => "text", :name => "footer-col4-header"}
			%small.form-text.text-muted Title of this link group

			%br
			%br


			.form-group
			%label Link 1 title
			%input.form-control{:type => "text", :name => "footer-col4-item1-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 1 url
			%input.form-control{:type => "text", :name => "footer-col4-item1-url"}
			%small.form-text.text-muted http (url) destination of your link

			%br
			%br


			.form-group
			%label Link 2 title
			%input.form-control{:type => "text", :name => "footer-col4-item2-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 2 url
			%input.form-control{:type => "text", :name => "footer-col4-item2-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 3 title
			%input.form-control{:type => "text", :name => "footer-col4-item3-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 3 url
			%input.form-control{:type => "text", :name => "footer-col4-item3-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br


			.form-group
			%label Link 4 title
			%input.form-control{:type => "text", :name => "footer-col4-item4-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 4 url
			%input.form-control{:type => "text", :name => "footer-col4-item4-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br		


			.form-group
			%label Link 5 title
			%input.form-control{:type => "text", :name => "footer-col4-item5-title"}
			%small.form-text.text-muted Text for your link

			.form-group
			%label Link 5 url
			%input.form-control{:type => "text", :name => "footer-col4-item5-url"}
			%small.form-text.text-muted http (url) destination of your link
			
			%br
			%br			

	.form-group
		%input{:type => "submit", :value => "Submit Form", :class => "button btn"}


	:javascript

		function showCharCount(input, output, limit){
			var input = document.getElementById(input).value;
			var output = document.getElementById(output);

			var charCount = 0;
			for(var i = 0; i < input.length; i++){
				charCount += 1;
			}

			output.innerHTML = charCount + " characters entered.";

			if(charCount <= limit){
				output.className = "";
				output.className += "small form-text alert alert-success";
			} else {
				output.className = "";
				output.className += "small form-text alert alert-danger";
				output.innerHTML += " Limit is " + limit + " characters!"
			}
		}
