!!! 
%html
	%head
		%title Form Submitted
	%body
		%h1 Thanks for submitting your community color request
		%p
			Your community should be ready within the next few business days.  Note: You will be able to change your color selections after the upgrade is complete, under Community Settings > Customization > Look & Feel > Community Colors
			%br
			%br
			%a{href: "/colorchoice"} Submit another color request