!!! 
%html
	%head
		%title Form Submitted
	%body
		%h1 Thanks for submitting your branding request
		%p
			Your community should be ready within the next few business days.
			%br
			%br
			%a{href: "/"} Submit another request